# --- Unity en subcarpeta ---
/UnityProject/[Ll]ibrary/
/UnityProject/[Tt]emp/
/UnityProject/[Oo]bj/
/UnityProject/[Bb]uild/
/UnityProject/[Bb]uilds/
/UnityProject/[Ll]ogs/
/UnityProject/[Uu]ser[Ss]ettings/
/UnityProject/[Bb]ee/
/UnityProject/[Pp]ackage[Cc]ache/
/UnityProject/[Mm]emoryCaptures/
/UnityProject/[Rr]ecordings/
/UnityProject/[Cc]rashReports/

# IDEs
/.idea/
/.vs/
/UnityProject/*.sln
/UnityProject/*.csproj

# SO
.DS_Store
Thumbs.db

# --- Firebase (PC) ---
/UnityProject/Assets/StreamingAssets/google-services.json
/UnityProject/Assets/StreamingAssets/google-services-desktop.json
UnityProject/GoogleService-Info.plist

# Opcional
/UnityProject/Assets/TextMesh Pro/*/Resources/Font Assets/*/*.fnt
/UnityProject/Assets/TextMesh Pro/*/Resources/Font Assets/*/*.png
